<!doctype html>
<html lang="en">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="icon" href="/static/images/favicon.png" type="image/png">
	<title>Food Bar</title>
	<!-- main css -->
	<link rel="stylesheet" href="/static/css/style_try.css">
	<!--<link rel="stylesheet" href="css/responsive.css">-->
</head>

<body>
    
    <!--================ Start banner section =================-->
	<section class="home_banner relative">
        <div class="text_class">
            <div>
                <h1>Pizza</h1>
                <p>Some Text</p>
                <a class="main_btn" href="webcam">Analysis of your Pizza</a>
                <a class="main_btn" href="make_your_own">Make Your Own Pizza</a>
            </div>
            <div class = "img_clss">
                <img class="face-img img-fluid" src="/static/images/bg_1.png" alt="">
            </div>
        </div>
	</section>
	<!--================ End banner section =================-->
    
</body>

</html>